:root {
  --primary-color: #007bff;
  --secondary-color: #b1b7bd;
  --background-color: #e9ecf0;
  --text-color: #212529;
  --header-height: 60px;
}

body {
  font-family: "Shippori Antique B1", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shippori Antique B1", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  color: #fff;
  z-index: 2; /* Ensure it's above the animation section */
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for better separation */
}


header a {
  color: #fff; /* Ensures links are also white */
}

header ul {
  list-style: none;
  display: flex;
}

header ul li {
  margin: 0 10px;
}

.aboutBox {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.aboutBox h4 {
  font-weight: bold;
  font-size: 1.25em; /* Adjust the size as needed */
}

.aboutHalf {
  width: 50%;
  margin: 2vh;
  border-radius: 5px;
}

.aboutHalfLeftTop {
  background-color: var(--text-color);
  color: var(--background-color);
}

.aboutHalfRightBottom {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 2%;
}

#bioBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bioHalf {
  width: 50%;
  height: 100%;
  padding: 2%;
}

.bioHalfLeft {
  width: 50%;
  max-width: 500px;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
}

#skillGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Adjust the gap as needed */
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 20px;
  text-align: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Smooth transition for transform property */
}

.skillItem span {
  margin-top: 10px;
  font-size: 1em; /* Adjust the size as needed */
}

.skillItem:hover {
  animation: jiggle 0.5s ease-in-out infinite; /* Apply the jiggle animation on hover */
}

@keyframes jiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
    transform: scale(1.1);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

footer {
  background-color: var(--text-color);
  color: #fff;
  text-align: center;
  padding: 10px;
}

section {
  min-height: 500px;
  margin: 20px 0;
  padding: 20px;
}

section h2 {
  text-align: center;
  width: 100%;
  font-weight: 600;
}

#projects {
  min-height: 600px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* This spreads out the items evenly */
  gap: 20px; /* Adds space between items */
}

.project-item-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  display: block; /* Make the entire block clickable */
}

.project-item {
  width: calc(33.333% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px; /* This can be adjusted or removed depending on your gap in .project-list */
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.project-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.01); /* Slight zoom by default */
}

.project-item:hover img {
  transform: scale(1); /* Zoom out to original size on hover */
}

.project-item h3 {
  background: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 10px;
}

.project-item p {
  padding: 0 10px 10px;
  color: var(--text-color);
}

.project-item:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.menu-icon {
  display: none; /* Hide by default */
  cursor: pointer;
}

.menu-icon i {
  font-size: 24px; /* Adjust size as needed */
}

@media (max-width: 1200px) {
  #skillGrid {
    grid-template-columns: repeat(3, 1fr); /* Display 3 icons per row */
  }

  .bioHalf {
    width: 100%;
    height: 100%;
    padding: 2%;
  }

  #bioBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  header ul {
    flex-direction: column;
    display: none; /* Hide the menu initially */
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
    position: absolute;
    right: 0;
    top: var(--header-height);
    width: 100%;
    color: #fff; /* Ensures text is white */
  }

  header nav.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 33vh; /* Cover only the top half of the viewport */
    background: linear-gradient(270deg, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: AnimationGradient 15s ease infinite;
    z-index: 2;
    overflow-y: auto; /* In case your menu items exceed the available space */
  }

  header nav {
    display: none;
  }

  header nav ul li a {
    color: #fff !important; /* Forces text color to be white */
  }

  header ul li {
    text-align: center;
    padding: 10px 0;
  }

  .menu-icon i {
    color: inherit; /* This ensures the icon color changes with the header's color */
  }

  header ul li a {
    color: #fff; /* Ensures links are also white */
  }

  header nav.active ul {
    display: flex; /* Show the menu when active */
    background: linear-gradient(270deg, #6a11cb, #2575fc);
    background-size: 400% 400%;
    animation: AnimationGradient 15s ease infinite;
  }

  .menu-icon {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3;
  }

  .aboutBox {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
  }

  .aboutHalf {
    width: 100%;
  }

  #bioBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .bioHalf {
    width: 100%;
    height: 100%;
    padding: 2%;
  }

  .project-list {
    justify-content: center; /* This centers the items when they stack vertically */
  }

  .project-item {
    width: 100%; /* Each item takes full width on smaller screens */
    /* Adjust the height of images on smaller screens if needed */
    height: auto; /* Optional: Adjust this if you want to change the image height on mobile */
  }

  .project-item img {
    height: 150px; /* Adjust for mobile */
  }

  section {
    min-height: auto; /* Allow sections to adjust to content size on mobile */
  }
  
  .title {
  font-size: 24px; /* Adjust based on your design */
  }

    /* Add this to change the skill grid layout on mobile */
    #skillGrid {
      grid-template-columns: repeat(2, 1fr); /* Display 2 icons per row */
    }
}

#animation-section {
  height: 300px; /* Adjust based on your preference */
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: AnimationGradient 15s ease infinite;
  position: relative; /* Allows absolute positioning within */
}

.animation-box {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  animation: AnimationGradient 15s ease infinite, morph 8s infinite ease-in-out;
  /* Applying a slight blur to enhance the gooey effect */
  filter: blur(1px);
}


.title {
  position: absolute;
  color: #fff; /* Ensure the text color contrasts with the background */
  font-size: 36px; /* Adjust based on your design */
  text-align: center;
  width: 100%; /* Ensures the text is centered regardless of its container's width */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjusts the positioning to truly center the element */
  z-index: 1; /* Ensures the text is above the animated circle */
}

@keyframes AnimationGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@keyframes clumsyRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes morph {
  0%, 100% {
    border-radius: 50%;
  }
  25% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 40% 50%;
  }
  75% {
    border-radius: 50% 30% 50% 70% / 40% 60% 30% 60%;
  }
}
